@use "/Abstracts" as *;

.block {
	display: grid;
	gap: 1.5rem;
	grid-auto-rows: min-content;
	padding: 3rem;
	border-radius: 0.5rem;

	background-color: var(--clr-surface-300);
	height: 80vh;
	overflow-y: auto;

	&::-webkit-scrollbar {
		background-color: var(--clr-surface-300);
		width: 0.5rem;
		border-radius: 0.5rem;

		&-thumb {
			background-color: var(--clr-surface-500);
		}
	}
}

.ul {
	display: grid;
	gap: inherit;
}

.item {
	display: grid;
	grid-template-columns: auto 1fr auto;
	// grid-template-rows: repeat(2, calc(2ex + 4px)) 1fr;
	gap: 0.25rem;

	padding: 1rem;
	border-radius: 0.5rem;

	background-color: var(--clr-surface-200);

	&--check {
		outline: 2px solid greenyellow;
	}

	.checkbox {
		$size: 2rem;
		position: relative;

		width: $size;
		height: $size;

		grid-row: 1/1;
		grid-column: 1/1;

		&:before {
			content: "";
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;

			border-radius: 0.5rem;
			background-color: var(--clr-surface-300);
		}

		&--check::before {
			outline: 4px solid greenyellow;
			outline-offset: -4px;
		}

		> input {
			position: absolute;
			inset: 0;
			opacity: 0;
			width: 100%;
			height: 100%;
		}
	}

	.name {
		grid-row: 1/1;
		grid-column: 2/2;
		max-width: Min(40ch, 100vw - 10rem);
		color: var(--clr-surface-800);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-transform: capitalize;
		font-weight: 600;
		padding-right: 0.75rem;
	}

	.desc {
		grid-row: 2/3;
		grid-column: 2/2;

		display: -webkit-box;
		max-width: 200px;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;

		font-size: 0.875rem;
		color: var(--clr-surface-600);
	}

	.remove,
	.edit {
		grid-column: 3/3;

		font-size: 0.75rem;
		border-radius: 0.25rem;
		// padding: 0.125rem 0.25rem;
		text-transform: capitalize;
	}

	.remove {
		grid-row: 1/1;
	}

	.edit {
		grid-row: 2/2;
	}

	.add {
		grid-row: 4/4;
		grid-column: 1/-1;
		grid-template-columns: repeat(2, 1fr);

		padding-inline: 0;
		padding-block: 0.5rem 0;
	}
}

.add {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(2, 1fr) auto;
	grid-auto-rows: auto;
	gap: 0.25rem 1rem;

	padding: 1rem;
	border-radius: 0.5rem;

	background-color: var(--clr-surface-200);

	:is(input, button) {
		grid-row: 1/1;
		border-radius: 0.25rem;
		padding: 0.25rem 1rem;
	}

	> input {
		border: 0;
	}

	> button {
		padding: 0.25rem 1rem;
	}

	.error {
		grid-column: 1/-1;
		grid-row: 2/2;
		color: var(--clr-brand-200);
	}
}

input,
textarea,
button {
	background-color: var(--clr-surface-300);
}
